<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title %}Reset your password{% endblock %}

<h1>Reset your password</h1>
<p>Please enter your new password twice:</p>
<form action="/password_new/" method="post">

 {% block content %}
    {% csrf_token %}
    New password<input type="text" name="new_password"><br><br>

    Conform password<input type="text" name="conform_password"><br><br>
    <input type="hidden" value="{{email_id}}" name="email_id">
 <p><input type="submit" value="Change my password" /></p>
</form>
{% endblock %}
</body>
</html>