<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title %}Reset your password{% endblock %}

<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>

<form method="Post" action="/password_reset/" class="form-inline my-2 my-lg-0">
    {% block content %}
    {% csrf_token %}


    <input class="form-control mr-sm-2" type="email" placeholder="email"  name="find" id="find">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enter Email</button>
</form>
{% endblock %}

</body>
</html>