{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  type="text/css" href="{%static 'css/edite.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
      </script>
</head>
<body>
<br>
<br>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message|safe }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
<br>
<br>
<form method="get" action="/search" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<form>
<center><h1>College Details </h1></center>

<center><table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark" >
    <tr>
        <th>College name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Add Teacher</th>
        <th>Add Student</th>
        <th>View Teacher</th>
        <th>View Student</th>
    </tr>
    </thead>
    <tbody>
    {% for coll in collageshow %}
    <tr>
        <td>{{coll.collagename}}</td>
        <td>
            <a href="{% url 'edit' id=coll.id %}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
        </td>
        <td>
            <a href="{% url 'delete' id=coll.id %}">Delete</a>
        </td>
         <td>
            <a href="{% url 'attache' id=coll.id %}">add teacher</a>
        </td>

         <td>
            <a href="{% url 'student'  id=coll.id %}">add student</a>
        </td>
        <td>
            <a href="{% url 'teacher_show' id=coll.id %}">viewteacher</span></a>
        </td>
         <td>
            <a href="{% url 'show_student' id=coll.id %}">view student</span></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table></center>
</form>
<br>
<br>
<center><a href="{% url 'add' %}" class="btn btn-primary">Add new College</a></center>


</body>
</html>