{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet"  type="text/css" href="{%static 'css/teacheredite.css' %}">
    <link rel="stylesheet"  type="text/css" href="{%static 'css/edite.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
      </script>
</head>
<body>
<center><h2>Update Studentdeatails</h2></center>
<center><form method="post" class="post-form" action = "{% url 'student_update' id=student_edit.id %}" >
{% block content %}
    {% csrf_token %}
{% endblock %}
    <br>
    <br>
    <label class="col-sm-2 col-form-lable">Student Name</label>
    <input type="text" name="name" maxlength="20" value="{{student_edit.student_name}}" required ><br><br>

    <label class="col-sm-2 col-form-lable">Student Marks</label>
    <input type="text" name="mark" maxlength="20" value="{{student_edit.student_marks}}" required ><br><br>

    <label class="col-sm-2 col-form-lable">Student Email</label>
    <input type="text" name="email" maxlength="20" value="{{student_edit.student_email}}" required ><br><br>

    <button type="submit" class="btn btn-primary">update</button>
<br>
    <br>
</form>
    </center>
</body>
</html>