{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  type="text/css" href="{%static 'css/teacher.css' %}">
    <link rel="stylesheet"  type="text/css" href="{%static 'css/edite.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
      </script>
</head>
<body>
<center><form method="POST" class="post-form" >
{% block content %}
    {% csrf_token %}
{% endblock %}

      <br>
      <h4>Enter TeacherDetail </h4>
    <label >Teacher Image:</label>

        <input id="ts-select-image" type="image" name="image" id="image" /><br><br>


      <label >Teacher Name:</label>
      <input type="text" name="name" maxlength="50" required><br><br>

      <label>Teacher Phone:</label>
      <input type="text" name="phone" maxlength="10" required><br><br>

      <label>Teacher Email:</label>
      <input type="text" name="email" maxlength="100" required><br><br>

      <button type="submit" class="btn btn-primary">submit</button>
    <br>
    <br>


</form>
</center>
</body>
</html>